#userPage{
    width: 100%;  
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;
}

.userPage-wrap{
    border: 1px solid var(--sub-color);
    width: 100%;
    height: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--sub-color);
    padding: 1rem;
}


header h1{
    font-size: 15px;
    color: var(--sub-color);
}

header #color{
    background-color: var(--sub-color);
    -webkit-mask-image: url(../images/icon-color.svg);
    mask-image: url(../images/icon-color.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    transform: rotate(-45deg);
    transition: ease all 300ms;
    width: 25px;
    height: 25px;
}

header #color:hover{
    transform: rotate(0deg);
}

main{
    /* display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); */
    display: flex;
    width: 100%;
    height: calc(100% - 57px);
}

.todo{
    width: 40%;
}

.info{
    width: 60%;
}

.info{
    display: grid;
}

.info-weather,
.info-quote{
    color: var(--sub-color);
    border-bottom: 1px solid;
    padding: 1rem;
}


.info-weather p{
    padding: 1rem 0;
    font-size: 2.5vw;
    text-align: center;
}

.info-weather__detail{
    display: flex;
    align-items: center;
    font-size: 2.5vw;
    justify-content: center;
    margin-top: 1.5rem;
}

.info-weather__detail p:first-child{
    margin-right: 1rem;
}
.info-quote__detail{
    text-align: center;
}

.info-quote__detail svg{
    font-size: 18px;
    margin-bottom: 1rem;
}

.info-quote__detail span{
    display: block;
    font-size: 20px;
}

.info-date{
    display: flex;
    align-items: center;
    padding: 1rem;
}
.info-cal{
    width: 60%;
    color: var(--sub-color);
}

.info-cal__head{
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin-bottom: 2rem;
    /* padding: 0 1.5rem; */
}
.info-cal__headWrap{
    text-align: center;
}

.info-cal__head-year{
    font-size: 14px;
}

.info-cal__head-month{
    font-size: 17px;
    font-weight: 600;
}


.info-cal__head button{
    border: unset;
    background-color: unset;
    color: var(--sub-color);
    cursor: pointer;
}

.info-cal #info-cal__weekdays,
.info-cal #calendar{
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    text-align: center;
    gap: 1rem;
}

.info-cal #info-cal__weekdays{
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
}


.info-time{
    width: 40%;
    font-size: 11vw;
    line-height: 9vw;
    padding: 1rem;
    font-family: 'Abril Fatface', cursive;
    transition: ease all 300ms;
    margin-bottom: 10px;
    color: var(--sub-color);
}

.info-time-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-time__mob{
    display: none;
}

#currentDay{
    position: relative;
    color: var(--main-color);
}

#currentDay:after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--sub-color);
    display: block;
    content: '';
    z-index: -1;
    border-radius: 15px;
}