@media only screen and (max-width: 820px) {
    body{
        overflow: unset;
    }
    main{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    #login span{
        font-size: 18px;
    }
    .todo{
        border: unset;
        border-bottom: 1px solid;
        height: auto;
    }
    .info{
        flex-direction: unset;
        flex-wrap: wrap;
    }
    .info-quote{
        width: 100%;
    }
    .info-weather, .info-quote{
        height: auto;
    }

    .info-time{
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        height: auto;
        width: 40%;
    }
    .info-weather p{
       font-size: 40px;
    }
}

@media only screen and (max-width: 640px) {
    #todo-form input::placeholder,
    #todo-form input{
        font-size: 15px;
    }
    .info-quote__detail svg{
        margin-bottom: 0;
        font-size: 15px;
    }
    .info-quote__detail span{
        font-size: 15px;
    }

    .info-weather, .info-time{
        width: 100%;
    }

    .info-weather p{
        padding: 0;
        font-size: 22px;
    }
    .info-time{
        font-size: 50px;
        line-height: 48px;
    }

}