@media only screen and (max-width: 820px) {
    body{
        overflow: unset;
    }
    main{
        flex-wrap: wrap;
    }
    #login span{
        font-size: 18px;
    }
    .todo{
        border: unset;
        border-bottom: 1px solid;
        width: 100%;
    }
    .info{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .info-quote{
        width: 100%;
    }

    .info-mob{
        display: flex;
        width: 100%;
    }
    .info-weather, .info-time{
        width: 50%;
    }

    .info-weather{
        border-bottom: unset;
        border-right: 1px solid;
    }
    .info-time{
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }
    .info-weather p{
       font-size: 40px;
    }
}

@media only screen and (max-width: 640px) {
    .uppercase{
        font-size: 10px;
    }

    .info-mob{
        flex-wrap: wrap;
    }


    #todo-form input::placeholder,
    #todo-form input{
        font-size: 15px;
    }
    .info-quote__detail svg{
        margin-bottom: 0;
        font-size: 15px;
    }
    .info-quote__detail span{
        font-size: 15px;
    }

    .info-weather{
        border-right: unset;
        border-bottom: 1px solid;
    }

    .info-weather, .info-time{
        width: 100%;
    }

    .info-weather p{
        padding: 0;
        font-size: 22px;
    }
    .info-time{
        font-size: 50px;
        line-height: 48px;
    }

}